@model Carrito

<h1>Estoy en sadel carrito @Model.Id</h1>

@section Styles {
    <link sad rel="stylesheet" href="~/css/home.css" />
    adsad
}
osadsad
@section Styles {
    <link sad rel="stylesheet" href="~/css/home.css" />
    adsad
}